@model Webapp_project.Models.ContactModel
@{
}

<head>
    <title>SendContact</title>
</head>

<div style="text-align: center">
    Thanks, @Model.Name. Your message has been sent.

    <nav class="navbar flex-column">
        <a class="nav-link" href="/">
            <img src="~/images/bee.png" />
        </a>
    </nav>
</div>